body {
    font-family: 'Roboto', sans-serif;
}

.less{
    width: 100%;
    height: 1770px;
    background-color: #004449;
}

.less__container{
    margin: 0 auto;
    max-width: 1200px;
}

.less__header{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .less__headline{
            color: #D7FFC2;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
    }
    .less__log{
        color: #FFFEF0;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-align: center;
        text-transform: uppercase;
    }
}

.less__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    .less__title{
        font-weight: 400;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: 0%;
        color: #FFFEF0;
        margin-top: 340px;
    }
    .less__highligh{
        color: #FFAC7F;
        font-weight: 400;
        font-size: 80px;
        line-height: 88px;
        letter-spacing: 0%;
        margin-top: 6px;
        margin-right: 70px;
    }
    .less__description{
        color: #FFFEF0;
        font-family: Roboto;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0%;
        margin-top: 10px;
        margin-right: 132px;
    }
    .less__button-inner{
        color: #004449;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        border: 1px #0BFF80 solid;
        background-color: #0BFF80;
        border-radius: 999px;
        width: 338px;
        height: 56px;
        margin-top: 15px;
        margin-right: 254px;
    }
    .less__button-icon{
        padding-left: 5px;
    }
}

.less__footer {}

.less__footer-content {
    margin-top: 600px;
    .less__footer-title {
        display: flex;
        justify-content: center;
        margin-right: 6px;
        margin-bottom: 60px;
        color: #FFFEF0;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    .less__footer-brands {
        display: flex;
        justify-content: space-between;
        gap: 350px;
    }
}


.brand1 {}

.brand2 {}

.brand3 {}

.brand4 {}

.brand5 {}





.works {
    background-image: url("../img/IMAGE-11.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1200px;
    min-height: 1199px;
    padding-top: 50px;
}

.works__container {
    width: 1200px;
    margin: 0 auto;
}

.works__header {
    text-align: center;
}

.works__header-title {
    color: #004449;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-left: 27px;
}

.works__blocks {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 90px;
}

.works__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.works__block--first{
    position: relative;
    bottom: 65px;
}

.works__block-image {
    width: auto;
    height: auto;
}

.works__block-image--first{
    position: relative;
    top: 20px;
}

.works__block-text {
    background-color: #FFFEF0;
    border: 1px solid #FFFEF0;
    border-radius: 8px;
    width: 357px;
    height: 184px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works__block-title {
    color: #004449;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 12px;
}

.works__block-subtitle {
    color: #004449;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.32px;
    margin: 0;
}



.works__lower-block {
    border: 1px #D7FFC2 solid;
    background-color: #D7FFC2;
    width: 764px;
    height: 372px;
    border-radius: 8px;
    margin-top: 500px;
    text-align: center;
    margin-left: 220px;
}

.works__lower-heading {
    color: #004449;
    font-size: 40px;
    font-weight: 400;
    margin-top: 60px;

}

.works__lower-heading span{
    color: #007A83;
}

.works__lower-color {
    color: #004449;
}

.works__lower-subtitle {
    color: #004449;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    width: 597px;
    margin-left: 90px;
    margin-top: 40px;
}

.works__lower-button-w {}

.works__lower-button {
    color: white;
    border: 1px #483CFF solid;
    background-color: #483CFF;
    width: 140px;
    height: 100px;
    border-radius: 800px;
    border-width: 2px;
    margin-top: 84px;
    margin-left: 25px;
}


