body{
    font-family: Roboto;
}
.beta {
    padding: 46px 150px 0px 150px;
    &__container {
        width: 1440px;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items-logo {
        color: #FF0043;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }

    &__items-buttons {
        border: 1px #FF0043 solid;
        background-color: #FF0043;
        width: 94px;
        height: 46px;
        border-radius: 23px;
    }

    &__items-tff {
        background: none;
        outline: none;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        padding: 16px 0px 0px 20px;
    }
}


.secure {
    padding: 50px 200px 0px 50px;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding: 200px 0px 0px 175px;
    }

    &__title {
        width: 552px;
        color: #00194A;
        font-weight: 500;
        font-size: 60px;
        line-height: 85px;
    }

    &__subtitle {
        width: 537px;
        color: #00194A;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        margin-top: 40px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
        background: none;
        outline: none;
        border: 1px #FF0043 solid;
        background-color: #FF0043;
        width: 275px;
        height: 60px;
        border-radius: 30px;
        padding: 22px;
        margin-top: 40px;
    }

    &__media {
    }

    &__image {
        width: 655px;
        height: 604px;
    }
    
}


.messaging {
    &__container {}

    &__blocks {
        padding: 200px 0px 0px 0px;
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
    }

    &__block {
        width: 330px;
    }

    &__block img:nth-child(3) {
        width: 104px;
    }

    &__block-icon {}

    &__block-title {
        color: #00194A;
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
        margin-top: 20px;
    }

    &__block-subtitle {
        color: #00194A;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__block-button {
        color: #00194A;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
    }

    &__block-button:hover{
        color: #FF0043;
    }

    &__block-download {
        width: 21px;
        height: 20px;
        margin-left: 153px;
    }

    &__platforms {
        padding: 180px 0 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    
    &__content {
        position: relative;
    }

    &__image-container {
        position: relative;
        width: 370px;
        height: 480px;
    }
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    &__chat {
        position: absolute;
        top: 57%;
        left: 20%; 
        width: 415px;
        z-index: 2;
    }
    
    &__text {
        width: 466px;
    }
    
    &__title {
        color: #00194A;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }
    
    &__subtitle,
    &__lowersubtitle {
        margin-top: 40px;
        color: #00194A;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }
}
