body {
  font-family: Roboto;
}

.beta {
  padding: 46px 150px 0px 150px;
}
.beta__container {
  width: 1440px;
  margin: 0 auto;
}
.beta__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.beta__items-logo {
  color: #FF0043;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.beta__items-buttons {
  border: 1px #FF0043 solid;
  background-color: #FF0043;
  width: 94px;
  height: 46px;
  border-radius: 23px;
}
.beta__items-tff {
  background: none;
  outline: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding: 16px 0px 0px 20px;
}

.secure {
  padding: 50px 200px 0px 50px;
}
.secure__container {
  display: flex;
  justify-content: space-between;
}
.secure__content {
  padding: 200px 0px 0px 175px;
}
.secure__title {
  width: 552px;
  color: #00194A;
  font-weight: 500;
  font-size: 60px;
  line-height: 85px;
}
.secure__subtitle {
  width: 537px;
  color: #00194A;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
}
.secure__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  background: none;
  outline: none;
  border: 1px #FF0043 solid;
  background-color: #FF0043;
  width: 275px;
  height: 60px;
  border-radius: 30px;
  padding: 22px;
  margin-top: 40px;
}
.secure__image {
  width: 655px;
  height: 604px;
}

.messaging__blocks {
  padding: 200px 0px 0px 0px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.messaging__block {
  width: 330px;
}
.messaging__block img:nth-child(3) {
  width: 104px;
}
.messaging__block-title {
  color: #00194A;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  margin-top: 20px;
}
.messaging__block-subtitle {
  color: #00194A;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.messaging__block-button {
  color: #00194A;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}
.messaging__block-button:hover {
  color: #FF0043;
}
.messaging__block-download {
  width: 21px;
  height: 20px;
  margin-left: 153px;
}
.messaging__platforms {
  padding: 180px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.messaging__content {
  position: relative;
}
.messaging__image-container {
  position: relative;
  width: 370px;
  height: 480px;
}
.messaging__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.messaging__chat {
  position: absolute;
  top: 57%;
  left: 20%;
  width: 415px;
  z-index: 2;
}
.messaging__text {
  width: 466px;
}
.messaging__title {
  color: #00194A;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}
.messaging__subtitle, .messaging__lowersubtitle {
  margin-top: 40px;
  color: #00194A;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */